[user]
	name = xipeng.gu
	email = xipeng.gu@sim.com
[core]
	quotepath = false
	editor = vim
	autocrlf = input
	excludesfile = /home/gxp/.gitignore_global
[help]
	autocorrect = 1
[color]
	ui = auto
[push]
	default = simple
[alias]
	glog = log --graph
